@import 'inc/common.less';

.post {
  background: #fff;
  border: 1px solid #ccc;
  .border-radius(6px);
  color: #666;
  margin: 40px 0 0 0;
  padding: 20px;

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 10px 0;

    > a:link,
    > a:visited {
      color: #666;
      text-decoration: none;
    }

    > a:hover {
      text-decoration: underline;
    }
  }

  .post-image {
    text-align: center;

    img {
      max-width: 578px;
    }
  }

  .post-meta {
    background: url('../img/icons_grey.png') -10px -62px no-repeat;
    display: block;
    margin: 0 0 20px 0;
    padding: 0 0 0 18px;
  }

  .post-socialbox {
    float: right;
    margin-top: 20px;

    > a {
      float: left;
    }

    .post-comment-count,
    .post-comment-count:visited {
      background: #fff;
      border: 1px solid #ccc;
      .border-radius(6px);
      color: #666;
      font-size: 14px;
      font-weight: bold;
      height: 32px;
      line-height: 31px;
      margin: 0 0 0 10px;
      padding: 0 10px;
      position: relative;
      text-decoration: none;
    }

    .post-comment-count:hover {
      color: #666;
      text-decoration: underline;
    }

    .post-comment-count {
      &:before,
      &:after {
        border-style: solid;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        width: 0;
      }

      &:after {
        border-color: transparent #fff transparent transparent;
        border-width: 7px 7px 7px 0;
        left: -7px;
        top: 9px;
      }

      &:before {
        border-color: transparent #ccc transparent transparent;
        border-width: 8px 8px 8px 0;
        left: -8px;
        top: 8px;
      }
    }

    .post-share-btn {
      margin: 0 0 0 10px;
      position: relative;

      &:hover {
        > div {
          display: block;
        }
      }

      > div {
        border: 1px solid #ccc;
        background: #fff;
        display: none;
        left: -30px;
        padding: 8px;
        position: absolute;
        text-align: center;
        top: 100%;
        width: 120px;

        &:before,
        &:after {
          border-style: solid;
          content: '';
          display: block;
          height: 0;
          position: absolute;
          width: 0;
        }

        &:after {
          border-color: transparent transparent #fff transparent;
          border-width: 0 5px 5px 5px;
          left: 50%;
          margin-left: -2px;
          top: -5px;
        }

        &:before {
          border-color: transparent transparent #ccc transparent;
          border-width: 0 6px 6px 6px;
          left: 50%;
          margin-left: -3px;
          top: -6px;
        }
      }
    }
  }

  .post-votebox {
    .linear-gradient(#fff, #f3f3f3);
    border: 1px solid #ccc;
    .border-radius(2px);
    float: left;
    margin-top: 20px;

    > div {
      background-image: url('../img/icons.png');
      background-repeat: no-repeat;
      border-color: #fff #e6e6e6 #e6e6e6 #fff;
      border-style: solid;
      border-width: 1px;
      cursor: pointer;
      height: 30px;
      line-height: 29px;
      text-indent: -9999px;
      width: 30px;
    }

    > span {
      border-color: #fff #ccc #e6e6e6 #ccc;
      border-style: solid;
      border-width: 1px;
      display: block;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: bold;
      height: 30px;
      line-height: 30px;
      margin: 0 32px;
      padding: 0 10px;
    }

    .post-downvote {
      background-position: -33px -129px;
      .border-radius(0 1px 1px 0);
      float: right;

    }

    .post-upvote {
      background-position: -33px -34px;
      .border-radius(1px 0 0 1px);
      float: left;
    }
  }
}

.comments {
  margin-top: 40px;

  .comment {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;

    > em {
      color: #aaa;
      display: block;
      font-size: 11px;
      margin-top: 8px;
    }

    > strong {
      display: block;
      margin-bottom: 8px;
    }
  }
}

.comments-form {
  margin-top: 40px;

  textarea {
    border: 1px solid #999;
    display: block;
    margin-bottom: 10px;
    padding: 5px;
  }
}